.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* .card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */
/* .card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */
